<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Download the datasets
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the links below to download and save the datasets (.CSV files):
1. __CENSUS_DATA:__ https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv
1. __CHICAGO_PUBLIC_SCHOOLS__  https://ibm.box.com/shared/static/f9gjvj1gjmxxzycdhplzt01qtz0s7ew7.csv
1. __CHICAGO_CRIME_DATA:__ https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

__NOTE:__ Ensure you have downloaded the datasets using the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

### Store the datasets in database tables
To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg">

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

***
**NF - Load the sql magic cells - db2re notebook**

[IBM DB2 on Cloud](https://www.youtube.com/watch?v=bNfH0Wzx3is)

In [1]:
%%sh 
wget https://raw.githubusercontent.com/DB2-Samples/Db2re/master/db2re.ipynb

--2019-04-05 14:37:00--  https://raw.githubusercontent.com/DB2-Samples/Db2re/master/db2re.ipynb
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.16.133
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.16.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 84825 (83K) [text/plain]
Saving to: ‘db2re.ipynb.1’

     0K .......... .......... .......... .......... .......... 60% 8.79M 0s
    50K .......... .......... .......... ..                   100% 16.4M=0.008s

2019-04-05 14:37:01 (10.8 MB/s) - ‘db2re.ipynb.1’ saved [84825/84825]

In [2]:
!pip install --user qgrid

Requirement not upgraded as not directly required: qgrid in /home/dsxuser/.local/lib/python3.5/site-packages
Requirement not upgraded as not directly required: notebook>=4.0.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from qgrid)
Requirement not upgraded as not directly required: ipywidgets>=7.0.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from qgrid)
Requirement not upgraded as not directly required: pandas>=0.18.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from qgrid)
Requirement not upgraded as not directly required: ipykernel>=4.5.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: traitlets>=4.3.1 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: nbformat>=4.2.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: widgetsnbextension~=3.1.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: ipython>=4.0.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: python-dateutil>=2 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas>=0.18.0->qgrid)
Requirement not upgraded as not directly required: pytz>=2011k in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas>=0.18.0->qgrid)
Requirement not upgraded as not directly required: numpy>=1.9.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from pandas>=0.18.0->qgrid)
Requirement not upgraded as not directly required: jupyter_client in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: tornado>=4.0 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: ipython_genutils in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: six in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: decorator in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from traitlets>=4.3.1->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: jsonschema!=2.5.0,>=2.4 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: jupyter_core in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: setuptools>=18.5 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: jedi>=0.10 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: pickleshare in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: simplegeneric>0.8 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: prompt_toolkit<2.0.0,>=1.0.4 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: pygments in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: pexpect in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from ipython>=4.0.0->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: pyzmq>=13 in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from jupyter_client->ipykernel>=4.5.1->ipywidgets>=7.0.0->qgrid)
Requirement not upgraded as not directly required: wcwidth in /opt/conda/envs/DSX-Python35/lib/python3.5/site-packages (from prompt_toolkit<2.0.0,>=1.0.4->ipython>=4.0.0->ipywidgets>=7.0.0->qgrid)

In [3]:
%run db2re.ipynb

Pixiedust database opened successfully

DB2 Extensions Loaded.

In [4]:
pixiedust.optOut()

Pixiedust will not collect anonymous install statistics.

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [5]:
# The code was removed by Watson Studio for sharing.

In [6]:
%sql connect credentials db2creds

Command completed.

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance in first lab in Week 3. From the __uri__ field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://ibm.box.com/shared/static/hzhkvdyinpupm2wfx49lkr71q9swbpec.jpg">

In [27]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
#%sql ibm_db_sa://

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table

In [8]:
# Rows in Crime table
%sql SELECT COUNT(*) AS TOTAL_CRIMES FROM CHICAGO_CRIME_DATA

   TOTAL_CRIMES
0           533

### Problem 2

##### Retrieve first 10 rows from the CRIME table

In [11]:
%sql SELECT * FROM CHICAGO_CRIME_DATA FETCH FIRST 10 ROWS ONLY

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,FALSE,FALSE,...,14,58,6,1155838,1873050,2004,02/10/2018 03:50:01 PM,41.807440,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,FALSE,FALSE,...,27,23,6,1152206,1906127,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,FALSE,FALSE,...,3,38,6,1177436,1876313,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,FALSE,FALSE,...,7,46,6,1194622,1850125,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,FALSE,FALSE,...,15,66,6,1155240,1860661,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"
5,7732712,HS540106,09/29/2010 07:59:00 AM,006XX W CHICAGO AVE,810,THEFT,OVER $500,PARKING LOT/GARAGE(NON.RESID.),FALSE,FALSE,...,27,24,6,1171668,1905607,2010,02/10/2018 03:50:01 PM,41.896447,-87.644939,"(41.896446772, -87.644938678)"
6,10769475,HZ534771,11/30/2016 01:15:00 AM,050XX N KEDZIE AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,...,33,14,6,1154133,1933314,2016,02/10/2018 03:50:01 PM,41.972845,-87.708600,"(41.972844913, -87.708600079)"
7,4494340,HL793243,12/16/2005 04:45:00 PM,005XX E PERSHING RD,860,THEFT,RETAIL THEFT,GROCERY FOOD STORE,TRUE,FALSE,...,3,38,6,1180448,1879234,2005,02/28/2018 03:56:25 PM,41.823880,-87.613504,"(41.823879885, -87.613503857)"
8,3778925,HL149610,01/28/2005 05:00:00 PM,100XX S WASHTENAW AVE,810,THEFT,OVER $500,STREET,FALSE,FALSE,...,19,72,6,1160129,1838040,2005,02/28/2018 03:56:25 PM,41.711281,-87.689179,"(41.711280513, -87.689179097)"
9,3324217,HK361551,05/13/2004 02:15:00 PM,033XX W BELMONT AVE,820,THEFT,$500 AND UNDER,SMALL RETAIL STORE,FALSE,FALSE,...,35,21,6,1153590,1921084,2004,02/28/2018 03:56:25 PM,41.939296,-87.710923,"(41.939295821, -87.710923442)"

### Problem 3

##### How many crimes involve an arrest?

In [12]:
%sql SELECT COUNT(*) AS CRIME_ARRESTED FROM CHICAGO_CRIME_DATA WHERE ARREST = 'TRUE'

   CRIME_ARRESTED
0             163

### Problem 4

##### Which unique types of crimes have been recorded at GAS STATION locations?

In [15]:
%sql SELECT DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA WHERE LOCATION_DESCRIPTION = 'GAS STATION'

        PRIMARY_TYPE
0  CRIMINAL TRESPASS
1          NARCOTICS
2            ROBBERY
3              THEFT

Hint: Which column lists types of crimes e.g. THEFT?

### Problem 5

##### In the CENUS_DATA table list all Community Areas whose names start with the letter ‘B’.

In [16]:
%sql SELECT COMMUNITY_AREA_NAME FROM CENSUS_DATA WHERE COMMUNITY_AREA_NAME LIKE 'B%'

  COMMUNITY_AREA_NAME
0      Belmont Cragin
1            Burnside
2       Brighton Park
3          Bridgeport
4             Beverly

### Problem 6

##### Which schools in Community Areas 10 to 15 are healthy school certified?

In [20]:
%%sql
SELECT NAME_OF_SCHOOL, COMMUNITY_AREA_NUMBER FROM CHICAGO_PUBLIC_SCHOOLS WHERE HEALTHY_SCHOOL_CERTIFIED = 'Yes' AND COMMUNITY_AREA_NUMBER BETWEEN 10 AND 15

                    NAME_OF_SCHOOL  COMMUNITY_AREA_NUMBER
0  Rufus M Hitch Elementary School                     10

### Problem 7

##### What is the average school Safety Score?

In [21]:
%sql SELECT ROUND(AVG(SAFETY_SCORE), 2) AS AVERAGE_SAFETY_SCORE FROM CHICAGO_PUBLIC_SCHOOLS

   AVERAGE_SAFETY_SCORE
0                  49.5

### Problem 8

##### List the top 5 Community Areas by average College Enrollment [number of students]

In [23]:
%%sql 
SELECT COMMUNITY_AREA_NAME, AVG(COLLEGE_ENROLLMENT) AS AVERAGE_COLLEGE_ENROLLMENT FROM CHICAGO_PUBLIC_SCHOOLS
GROUP BY COMMUNITY_AREA_NAME
ORDER BY AVERAGE_COLLEGE_ENROLLMENT DESC FETCH FIRST 5 ROWS ONLY

  COMMUNITY_AREA_NAME  AVERAGE_COLLEGE_ENROLLMENT
0      ARCHER HEIGHTS                 2411.500000
1           MONTCLARE                 1317.000000
2         WEST ELSDON                 1233.333333
3       BRIGHTON PARK                 1205.875000
4      BELMONT CRAGIN                 1198.833333

### Problem 9

##### Use a sub-query to determine which Community Area has the least value for school Safety Score?

In [24]:
%sql SELECT COMMUNITY_AREA_NAME FROM CHICAGO_PUBLIC_SCHOOLS WHERE SAFETY_SCORE IN (SELECT MIN(SAFETY_SCORE) FROM CHICAGO_PUBLIC_SCHOOLS)

  COMMUNITY_AREA_NAME
0     WASHINGTON PARK

### Problem 10

##### [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.

In [25]:
%%sql
SELECT S.COMMUNITY_AREA_NAME, S.SAFETY_SCORE, C.PER_CAPITA_INCOME FROM CHICAGO_PUBLIC_SCHOOLS S, CENSUS_DATA C 
WHERE S.COMMUNITY_AREA_NUMBER = C.COMMUNITY_AREA_NUMBER AND S.SAFETY_SCORE = 1;

  COMMUNITY_AREA_NAME  SAFETY_SCORE  PER_CAPITA_INCOME
0     WASHINGTON PARK             1              13785

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).